<div class="form-inline data-function-form" role="form">
  <%= f.input :user_id, as: :hidden, input_html: { value: current_user.id } %>
  <div class="form-group data-function-name">
    <%= f.input :name, label: false, placeholder: 'data function name.', error: false %>
  </div>
  <div class="form-group data-function-type">
    <%= f.input :type, label: false, collection: ['Ilf', 'Elf'], error: false %>
  </div>
  <div class="form-group data-function-det">
    <%= f.input :det, label: false, as: :integer, placeholder: 'ret', error: false %>
  </div>
  <div class="form-group data-function-ret">
    <%= f.input :ret, label: false, as: :integer, placeholder: 'det', error: false %>
  </div>
  <div class="form-group data-function-remove">
    <%= link_to_remove_fields('#', f) %>
  </div>
</div>
