<%= simple_form_for(@software,
                    { defaults: { input_html: { class: 'form-control' } },
                    html: { class: 'form-horizontal' }}) do |f| %>
  <div class="form-group">
    <%= render partial: 'shared/errors', locals: { model: @software } %>
  </div>

  <div class="form-group">
    <%= f.input :name, required: true %>
  </div>

  <div class="form-group">
    <%= f.input :description, required: true %>
  </div>

  <div class="form-group actions">
    <%= button_tag(type: 'submit', class: 'btn btn-primary') do %>
      <%= submit_caption @software %>
    <% end %>
    <%= link_to('Cancel', root_url, class: 'btn btn-default') %>
  </div>

<% end %>
