<%= simple_form_for(@software,
                    { defaults: { input_html: { class: 'form-control' } },
                    html: { class: 'form-horizontal' }}) do |f| %>
  <div class="form-group">
    <%= render partial: 'shared/errors', locals: { model: @software } %>
  </div>

  <div class="form-group">
    <%= f.input :name, required: true %>
  </div>

  <div class="form-group">
    <%= f.input :description, required: true %>
  </div>

  <div class="form-group">
    <%= f.input(:measure_method,
                collection: Software.measure_methods,
                prompt: 'Select the measure method.') %>
  </div>

  <div class="form-inline">
    <h4>Data Functions</h4>
    <% @software.data_functions.each do |df| %>
      <%= f.simple_fields_for(:data_functions, df) do |f| %>
        <%= render('data_function_fields', f: f) %>
      <% end %>
    <% end %>
    <div>
      <%= link_to_add_fields('Add Data Function', f, :data_functions) %>
    </div>
  </div>

  <div class="form-inline">
    <h4>Transactional Functions</h4>
    <% @software.transactional_functions.each do |tf| %>
      <%= f.simple_fields_for(:transactional_functions, tf) do |f| %>
        <%= render('transactional_function_fields', f: f) %>
      <% end %>
    <% end %>
    <div>
      <%= link_to_add_fields('Add Transactional Function', f, :transactional_functions) %>
    </div>
  </div>

  <div class="form-group actions">
    <%= button_tag(type: 'submit', class: 'btn btn-primary') do %>
      <%= submit_caption @software %>
    <% end %>
    <%= link_to('Cancel', root_url, class: 'btn btn-default') %>
  </div>

<% end %>
