<div class="panel panel-default">
  <div class="panel-heading clearfix">
    <div class="pull-left">
      <%= link_to software do %>
        <h3 class="panel-title">
          <%= software.name %>
        </h3>
      <% end %>
    </div>
    <div class="pull-right">
      <%= link_to edit_software_url software do %>
        <span class="glyphicon glyphicon-edit"></span>
      <% end %>
      <%= link_to software, method: :delete do %>
        <span class="glyphicon glyphicon-trash"></span>
      <% end %>
    </div>
  </div>
  <div class="panel-body">
    <%= software.description %>
  </div>
</div>
