<%= f.simple_fields_for(:vaf, @vaf) do |f| %>
  <%= f.input :user_id, as: :hidden %>
  <%= f.input :software_id, as: :hidden %>

  <div class="form-group">
    <%= vaf_select(f, :data_communication) %>
  </div>

  <div class="form-group">
    <%= vaf_select(f, :distributed_data_processing) %>
  </div>

  <div class="form-group">
    <%= vaf_select(f, :performance) %>
  </div>

  <div class="form-group">
    <%= vaf_select(f, :heavily_used_configuration) %>
  </div>

  <div class="form-group">
    <%= vaf_select(f, :transaction_rate) %>
  </div>

  <div class="form-group">
    <%= vaf_select(f, :online_data_entry) %>
  </div>

  <div class="form-group">
    <%= vaf_select(f, :end_user_effeciency) %>
  </div>

  <div class="form-group">
    <%= vaf_select(f, :online_update) %>
  </div>

  <div class="form-group">
    <%= vaf_select(f, :complex_processing) %>
  </div>

  <div class="form-group">
    <%= vaf_select(f, :reusability) %>
  </div>

  <div class="form-group">
    <%= vaf_select(f, :installation_ease) %>
  </div>

  <div class="form-group">
    <%= vaf_select(f, :operational_ease) %>
  </div>

  <div class="form-group">
    <%= vaf_select(f, :multiple_sites) %>
  </div>

  <div class="form-group">
    <%= vaf_select(f, :facilitate_change) %>
  </div>

<% end %>
