<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <%= @software.name %>
        </h3>
      </div>
      <div class="panel-body">
        <p>
          <%= @software.description %>
        </p>
        <%= render_measure_method(@software) %>
        <h4>Data functions</h4>
        <%= render 'data_functions_table' %>
        <h4>Transactional functions</h4>
        <%= render 'transactional_functions_table' %>
      </div>
    </div>
    <%= link_to 'Edit', edit_software_path(@software) %> |
    <%= link_to 'Back', root_url %>
  </div>
</div>
