<!DOCTYPE html>
<html>
<head>
  <title>Algieba</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="wrap">
    <%= render 'shared/header' %>
    <div class="container">
      <%= yield %>
    </div>
    <div id="push"></div>
  </div>
  <%= render 'shared/footer' %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
</body>
</html>
